@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&family=Fascinate&family=Fascinate+Inline&family=Koulen&family=New+Tegomin&family=Orbitron&family=Qahiri&family=Ropa+Sans&display=swap');
*{
  padding: 0px;
  margin: 0px;
  font-family: 'Orbitron', sans-serif;
}
body{
text-align: center;
background-color: black;
color:greenyellow;
font-size: 1cm;
padding-top: 12cm;
}
.main{
border: dotted greenyellow;
 width: max-content;
margin: auto;
width: 50%;

}
h1{
box-shadow: 1cm;
}